@media (max-width: 576px) {
  .row .col-xs-1 {
    width: 8.3333333333%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-2 {
    width: 16.6666666667%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-3 {
    width: 25%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-4 {
    width: 33.3333333333%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-5 {
    width: 41.6666666667%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-6 {
    width: 50%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-7 {
    width: 58.3333333333%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-8 {
    width: 66.6666666667%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-9 {
    width: 75%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-10 {
    width: 83.3333333333%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-11 {
    width: 91.6666666667%;
    padding: 17px;
  }
}
@media (max-width: 576px) {
  .row .col-xs-12 {
    width: 100%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-1 {
    width: 8.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-2 {
    width: 16.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-3 {
    width: 25%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-4 {
    width: 33.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-5 {
    width: 41.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-6 {
    width: 50%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-7 {
    width: 58.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-8 {
    width: 66.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-9 {
    width: 75%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-10 {
    width: 83.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-11 {
    width: 91.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 577px) {
  .row .col-sm-12 {
    width: 100%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-1 {
    width: 8.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-2 {
    width: 16.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-3 {
    width: 25%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-4 {
    width: 33.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-5 {
    width: 41.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-6 {
    width: 50%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-7 {
    width: 58.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-8 {
    width: 66.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-9 {
    width: 75%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-10 {
    width: 83.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-11 {
    width: 91.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 768px) {
  .row .col-md-12 {
    width: 100%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-1 {
    width: 8.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-2 {
    width: 16.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-3 {
    width: 25%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-4 {
    width: 33.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-5 {
    width: 41.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-6 {
    width: 50%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-7 {
    width: 58.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-8 {
    width: 66.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-9 {
    width: 75%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-10 {
    width: 83.3333333333%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-11 {
    width: 91.6666666667%;
    padding: 17px;
  }
}
@media (min-width: 992px) {
  .row .col-lg-12 {
    width: 100%;
    padding: 17px;
  }
}

header {
  height: 177px;
}
header > nav > ul:nth-of-type(1) > li:nth-child(1) p {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
  border-radius: 50%;
  background-color: #458FF6;
  padding: 10px;
  margin-right: 12px;
}
header > nav > ul:nth-of-type(1) li:nth-child(2) p {
  color: #233348;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
header > nav > ul:nth-of-type(2) li:nth-of-type(1) a {
  color: #1F1534;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
header > nav > ul:nth-of-type(2) li:nth-of-type(n+2) a {
  color: #1F1534;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 40px;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2), header > nav > ul:nth-of-type(2) li:nth-of-type(3) {
  position: relative;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu1 li:first-of-type, header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu1 li:first-of-type {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu1 li:nth-of-type(2), header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu1 li:nth-of-type(2) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu1 li:nth-of-type(3), header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu1 li:nth-of-type(3) {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu1 li:last-of-type, header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu1 li:last-of-type {
  animation: menu1 0.3s ease-in-out forwards;
  animation-delay: 1.2s;
}
@keyframes menu1 {
  from {
    opacity: 0;
    transform: translateX(30px) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: translateX(0) rotateY(0);
  }
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu2 li:first-of-type, header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu2 li:first-of-type {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.3s;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu2 li:nth-of-type(2), header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu2 li:nth-of-type(2) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.6s;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu2 li:nth-of-type(3), header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu2 li:nth-of-type(3) {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 0.9s;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2):hover .menu2 li:last-of-type, header > nav > ul:nth-of-type(2) li:nth-of-type(3):hover .menu2 li:last-of-type {
  animation: menu2 0.3s ease-in-out forwards;
  animation-delay: 1.2s;
}
@keyframes menu2 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2) .drop, header > nav > ul:nth-of-type(2) li:nth-of-type(3) .drop {
  position: absolute;
  left: -30%;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2) .drop > li, header > nav > ul:nth-of-type(2) li:nth-of-type(3) .drop > li {
  opacity: 0;
  transform-origin: top center;
}
header > nav > ul:nth-of-type(2) > li:nth-of-type(2) .drop > li > a, header > nav > ul:nth-of-type(2) li:nth-of-type(3) .drop > li > a {
  background-color: #458FF6;
  padding: 10px;
  display: block;
  color: white;
}

nav .content1 {
  margin-bottom: 200px;
}
nav .content1 div div:nth-child(1) {
  width: 400px;
  margin-right: 100px;
}
nav .content1 div div:nth-child(1) p:nth-child(1) {
  color: black;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
nav .content1 div div:nth-child(1) p:nth-child(2) {
  color: #7D7987;
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
}
nav .content1 div div:nth-child(1) a {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  border-radius: 55px;
  background-color: #458FF6;
  padding: 20px 40px;
}
nav .content2 {
  margin-bottom: 220px;
}
nav .content2 div .ct2_service p:nth-child(1) {
  color: black;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  position: relative;
  margin-bottom: 61px;
}
nav .content2 div .ct2_service p:nth-child(1)::after {
  content: "";
  width: 56px;
  height: 2px;
  background: black;
  text-align: center;
  position: absolute;
  bottom: -26px;
  left: 48%;
}
nav .content2 div .ct2_service p:nth-child(2) {
  color: #7D7987;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
nav .content2 div .row {
  margin-bottom: 69px;
}
nav .content2 div .row .article1-1 {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
nav .content2 div .row .article1-1 img {
  height: 95px;
}
nav .content2 div .row .article1-1 p:nth-child(2) {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: black;
}
nav .content2 div .row .article1-1 P:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
nav .content2 div .learnmore {
  text-align: center;
}
nav .content2 div .learnmore a {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  padding: 15px 50px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  transition: 0.4s;
}
nav .content2 div .learnmore a:hover {
  background-color: #458FF6;
  color: white;
}
nav .content3 {
  margin-bottom: 230px;
}
nav .content3 .content3-1 {
  width: 480px;
}
nav .content3 .content3-1 p:nth-child(1) {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: black;
  position: relative;
  margin-bottom: 59px;
}
nav .content3 .content3-1 p:nth-child(1)::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -26px;
  left: 0;
}
nav .content3 .content3-1 p:nth-child(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
  margin-bottom: 37px;
}
nav .content3 .content3-1 .learnmore a {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  padding: 15px 50px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  transition: 0.4s;
}
nav .content3 .content3-1 .learnmore a:hover {
  background-color: #458FF6;
  color: white;
}
nav .content4 {
  margin-bottom: 226px;
}
nav .content4 .content4-1 {
  width: 480px;
}
nav .content4 .content4-1 p:nth-child(1) {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  color: black;
  position: relative;
}
nav .content4 .content4-1 p:nth-child(1)::after {
  content: "";
  width: 56px;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -26px;
  left: 0;
}
nav .content4 .content4-1 p:nth-child(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7D7987;
}
nav .content4 .content4-1 .learnmore a {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  padding: 15px 50px;
  border-radius: 55px;
  border: 1.4px solid #458FF6;
  transition: 0.4s;
}
nav .content4 .content4-1 .learnmore a:hover {
  background-color: #458FF6;
  color: white;
}
nav .content5 {
  margin-bottom: 220px;
}
nav .content5 .bg-ct5 {
  background: linear-gradient(#67C3F3 0%, #5A98F2 100%);
  padding: 64px 118px;
  margin-bottom: 44px;
}
nav .content5 .bg-ct5 p:nth-child(1) {
  color: white;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  position: relative;
}
nav .content5 .bg-ct5 p:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 56px;
  height: 2px;
  background-color: white;
  border-radius: 6px;
  bottom: -25px;
  left: 48%;
}
nav .content5 .bg-ct5 > .content5-1 .actor img {
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 29px;
}
nav .content5 .bg-ct5 > .content5-1 .actor > p {
  font-weight: 700;
  font-size: 22px;
  line-height: 48px;
  color: white;
}
nav .content5 .bg-ct5 > .content5-1 .actor > p span {
  font-weight: 400;
  font-size: 18px;
  line-height: 48px;
  color: white;
}
nav .content5 .bg-ct5 > .content5-1 > p {
  width: 420px;
  color: white;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}
nav .content5 .next_back {
  text-align: center;
}
nav .content5 .next_back i {
  color: rgba(69, 143, 246, 0.5);
  cursor: pointer;
  margin: 0px 90px;
  font-size: 30px;
}
nav .content5 .next_back i:hover {
  color: #458FF6;
}
nav .content5 .next_back span {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #5B9BF3;
  border-radius: 50%;
  margin-left: 18px;
}
nav .content6 {
  margin-bottom: 330px;
}
nav .content6 > div > p {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: black;
  position: relative;
  text-align: center;
  margin-bottom: 100px;
}
nav .content6 > div > p::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 2px;
  background-color: black;
  bottom: -26px;
  left: 48%;
}
nav .content6 .row {
  margin-bottom: 70px;
}
nav .content6 .row .article6-1 {
  width: 100%;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
}
nav .content6 .row .article6-1 img {
  width: 100%;
}
nav .content6 .row .article6-1 p:nth-child(n+2) {
  margin-left: 35px;
}
nav .content6 .row .article6-1 p:nth-child(2) {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  color: black;
}
nav .content6 .row .article6-1 p:nth-child(3) {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7D7987;
}
nav .content6 .row .article6-1 a {
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #4089ED;
  transition: 0.4s;
  display: block;
  padding-bottom: 35px;
  margin-left: 35px;
}
nav .content6 .row .article6-1 a:hover {
  transform: translateX(5px);
  text-decoration: underline;
}
nav .content6 .learnmore {
  text-align: center;
}
nav .content6 .learnmore a {
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  color: #458FF6;
  padding: 16px 65px;
  border-radius: 55px;
  border: 1px solid #458FF6;
  transition: 0.4s;
}
nav .content6 .learnmore a:hover {
  background-color: #458FF6;
  color: white;
}

footer {
  background: linear-gradient(#67C3F3 0%, #5A98F2 100%);
}
footer nav .ft_info {
  width: 390px;
}
footer nav .ft_info > li:nth-child(1) p:nth-child(1) {
  color: #5B9BF3;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  border-radius: 50%;
  background-color: #ffffff;
  padding: 10px;
  margin-right: 12px;
}
footer nav .ft_info > li:nth-child(1) p:nth-child(2) {
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
footer nav .ft_info > li:nth-child(2) p {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
}
footer nav .ft_company li:nth-child(1) {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}
footer nav .ft_company li:nth-child(n+2) a {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}
footer nav .ft_region li:nth-child(1) {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}
footer nav .ft_region li:nth-child(n+2) a {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}
footer nav .ft_help li:nth-child(1) {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
}
footer nav .ft_help li:nth-child(n+2) a {
  color: #ffffff;
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
}/*# sourceMappingURL=style.css.map */